
      <table class="table table-striped mt-4">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'registros/registro', collection: conta.registros %>
        </tbody>
      </table>
