<div class="col-sm-12 col-md-6">
  <div class="card mb-4">
    <div class="card-header alert-danger">
      <b><%= conta.nome %></b>
    </div>
    <div class="card-footer upper text-right">
      <small>Saldo Atual</small> &nbsp; <%= curr conta.saldo %>
    </div>
    <div class="scroll">
      <table class="table table-striped m-0 table-sm">
        <tbody id="registros_conta_caixa">
          <%= render partial: 'registros/registro', collection: conta.registros %>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-right">
      <small>Total do Mês</small> &nbsp; <%= curr conta.saldo_do_mes %>
    </div>
  </div>
</div>
