
      <table class="table table-striped my-4">
        <thead>
          <tr>
            <th style="width: 8rem;">Data</th>
            <th>Descrição</th>
            <th class="right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr class="saldo">
            <td></td>
            <td>Saldo Final</td>
            <td class="right"> <%= curr conta.saldo_do_mes %> </td>
          </tr>
          <%= render partial: 'registros/registro', collection: conta.registros %>
          <tr class="saldo">
            <td></td>
            <td>Saldo Inicial</td>
            <td class="right"> <%= curr conta.saldo_inicial %> </td>
          </tr>
        </tbody>
      </table>
