
  <div class="card mb-4" id="card-conta">
    <div class="card-footer upper text-right">
      <small>Saldo Inicial</small> &nbsp; <%= curr diario.saldo_inicial %>
    </div>
    <table class="table table-striped m-0">
      <tbody id="registros_conta_caixa">
        <%= render partial: 'financeiro/diario/registro', collection: diario.registros.por_data %>
      </tbody>
    </table>
    <div class="card-footer text-right">
      <small>Saldo Final</small> &nbsp; <%= curr diario.saldo_do_mes %>
    </div>
  </div>
