<div class="card">
  <div class="card-header alert-success">
    <b>RECEITAS</b>
  </div>
  <table class="table table-striped mb-0">
    <tbody>
      <% @diario.receitas.each do |cat, valor| %>
      <tr>
        <td><%= cat.try(:nome) || 'SEM CATEGORIA' %></td>
        <td class='text-right' ><%= curr(valor) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
